<div class="row">
<div *ngFor="let card of obj_arr" class="col-lg-4 col-md-6 col-sm-6">
  <div class="card card-stats">
    <div class="card-body ">
      <div class="row">
        <div class="col-5 col-md-4">
          <div class="icon-big text-center icon-warning">
            <i class="nc-icon text-success" [ngClass]="card.icon"></i>
          </div>
        </div>
        <div class="col-7 col-md-8">
          <div class="numbers">
            <p class="card-category">{{card.name}}</p>
            <p class="card-title">{{card.value}}
            <p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-footer ">
      <hr>
      <div class="stats">
        <i class="fa fa-refresh"></i> Aggiorna
      </div>
    </div>
  </div>
</div>
</div>
